<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>---- Action Sheets ----</key>
	<string>-</string>
	<key>kActionSheetBounce</key>
	<integer>10</integer>
	<key>kActionSheetBorder</key>
	<integer>10</integer>
	<key>kActionSheetButtonHeight</key>
	<integer>45</integer>
	<key>kActionSheetTopMargin</key>
	<integer>10</integer>
	<key>kActionSheetTitleUsesSystemFont</key>
	<true/>
	<key>kActionSheetTitleSystemFontIsBold</key>
	<false/>
	<key>kActionSheetTitleSystemFontSize</key>
	<integer>18</integer>
	<key>kActionSheetTitleFontNameIfNotSystem</key>
	<string></string>
	<key>kActionSheetTitleFontSizeIfNotSystem</key>
	<integer>0</integer>
	<key>kActionSheetTitleTextColor</key>
	<dict>
		<key>red</key>
		<integer>1</integer>
		<key>green</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>1</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>kActionSheetTitleShadowColor</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>kActionSheetTitleShadowOffset</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>-1</integer>
	</dict>
	<key>kActionSheetButtonUsesSystemFont</key>
	<true/>
	<key>kActionSheetButtonSystemFontIsBold</key>
	<true/>
	<key>kActionSheetButtonSystemFontSize</key>
	<integer>15</integer>
	<key>kActionSheetButtonFontNameIfNotSystem</key>
	<string></string>
	<key>kActionSheetButtonFontSizeIfNotSystem</key>
	<integer>0</integer>
	<key>kActionSheetButtonTextColor</key>
	<dict>
		<key>red</key>
		<integer>1</integer>
		<key>green</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>1</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>kActionSheetButtonShadowColor</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>kActionSheetButtonShadowOffset</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>-1</integer>
	</dict>
	<key>kActionSheetBackground</key>
	<string>action-sheet-panel.png</string>
	<key>kActionSheetBackgroundCapHeight</key>
	<integer>30</integer>
	<key>---- Alert Views ----</key>
	<string>-</string>
	<key>kAlertViewBounce</key>
	<integer>20</integer>
	<key>kAlertViewBorderLandscape</key>
	<integer>5</integer>
	<key>kAlertViewBorderPortrait</key>
	<integer>10</integer>
	<key>kAlertButtonHeightLandscape</key>
	<integer>35</integer>
	<key>kAlertButtonHeightPortrait</key>
	<integer>44</integer>
	<key>kAlertViewTitleUsesSystemFont</key>
	<true/>
	<key>kAlertViewTitleSystemFontIsBold</key>
	<true/>
	<key>kAlertViewTitleSystemFontSize</key>
	<integer>20</integer>
	<key>kAlertViewTitleFontNameIfNotSystem</key>
	<string></string>
	<key>kAlertViewTitleFontSizeIfNotSystem</key>
	<integer>0</integer>
	<key>kAlertViewTitleTextColor</key>
	<dict>
		<key>red</key>
		<integer>1</integer>
		<key>green</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>1</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>kAlertViewTitleShadowColor</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>kAlertViewTitleShadowOffset</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>-1</integer>
	</dict>
	<key>kAlertViewMessageUsesSystemFont</key>
	<true/>
	<key>kAlertViewMessageSystemFontIsBold</key>
	<false/>
	<key>kAlertViewMessageSystemFontSize</key>
	<integer>18</integer>
	<key>kAlertViewMessageFontNameIfNotSystem</key>
	<string></string>
	<key>kAlertViewMessageFontSizeIfNotSystem</key>
	<integer>0</integer>
	<key>kAlertViewMessageTextColor</key>
	<dict>
		<key>red</key>
		<integer>1</integer>
		<key>green</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>1</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>kAlertViewMessageShadowColor</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>kAlertViewMessageShadowOffset</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>-1</integer>
	</dict>
	<key>kAlertViewButtonUsesSystemFont</key>
	<true/>
	<key>kAlertViewButtonSystemFontIsBold</key>
	<true/>
	<key>kAlertViewButtonSystemFontSize</key>
	<integer>18</integer>
	<key>kAlertViewButtonFontNameIfNotSystem</key>
	<string></string>
	<key>kAlertViewButtonFontSizeIfNotSystem</key>
	<integer>0</integer>
	<key>kAlertViewButtonTextColor</key>
	<dict>
		<key>red</key>
		<integer>1</integer>
		<key>green</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>1</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>kAlertViewButtonShadowColor</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>kAlertViewButtonShadowOffset</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>-1</integer>
	</dict>
	<key>kAlertViewBackgroundPortrait</key>
	<string>alert-window.png</string>
	<key>kAlertViewBackgroundLandscape</key>
	<string>alert-window-landscape.png</string>
	<key>kAlertViewBackgroundCapHeight</key>
	<integer>38</integer>
</dict>
</plist>
